html[ng-app='sign_in'],
html[ng-app='sign_up'],
html[ng-app='recovery']
  div.logo,
  div.form,
  div.links
    margin: 25px auto
    max-width: 400px

    $px: 15px
    padding-left: $px
    padding-right: $px
  div.logo
    margin-top: 50px
    text-align: center
    img
      max-width: 200px
  div.form
    margin-top: 10px
    div.error
      display: none
  div.links
    margin-top: 25px
  div.alert
    display: none
