script(type='text/javascript' src='js/lib/jquery.js')
script(type='text/javascript' src='js/lib/jquery.cookie.js')
script(type='text/javascript' src='js/lib/bootstrap.js')
script(type='text/javascript' src='js/lib/angular.js')
script(type='text/javascript' src='js/lib/angular-cookies.js')
script(type='text/javascript' src='js/lib/bootstrap-datepicker.js')
script(type='text/javascript' src='js/lib/bootstrap-datepicker.en-AU.js')
script(type='text/javascript' src='js/script.js')
